* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Spartan', sans-serif;
    color: hsl(300, 43%, 22%);
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.main-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
}
    
.grid1 { 
    grid-area: 1 / 1 / 2 / 2;
}

.grid1 h1 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 10px;
}

.grid1 p {
    color: hsl(303, 10%, 53%);
    font-weight: 500;
    line-height: 1.5;
}

.grid2 { 
    grid-area: 1 / 2 / 2 / 3;
}

.grid3 { 
    grid-area: 2 / 1 / 3 / 3; 
    display: flex;
    grid-gap: 30px;
    justify-content: center;
    align-items: center;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 460px;
    margin: auto;
    margin-left: 50px;
}

.rating {
    display: flex;
    align-items: center;
    height: 60px;
    width: 450px;
    background-color: hsl(300, 24%, 96%);
    font-weight: 700;
    margin-bottom: 20px;
    text-align: left;
    border-radius: 10px;
    padding: 10px 10px 10px 40px;
}

.r-2 {
    margin-left: 50px;
}

.r-3 {
    margin-left: 100px;
}

.last-star {
    margin-right: 30px;
}

.users {
    background-color: hsl(300, 43%, 22%);
    height: 250px;
    width: 350px;
    padding: 30px;
    color: white;
    border-radius: 10px;
}

.u-1 {
    margin-bottom: 150px;
}

.u-2 {
    margin-bottom: 100px;
}

.u-3 {
    margin-bottom: 50px;
}

.card-header {
    display: flex;
    margin-bottom: 30px;
}

.avatar {
    display: flex;
    width: 50px;
    margin-right: 15px;
}

.info {
    margin-top: 10px;
}

.name {
    font-weight: 700;
}

.status {
    color: hsl(333, 80%, 67%);
    font-weight: 400;
}

.statement {
    font-weight: 400;
    line-height: 1.5;
}

.users img {
    border-radius: 100px;
    height: 40px;
    width: 40px;
    margin: 5px 15px 0 0;
}

.footer {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}

.footer a {
    text-decoration: none;
    color: hsl(303, 10%, 53%);
    font-weight: 700;
}

.footer a:hover {
    color: hsl(300, 43%, 22%);
}

@media screen and (max-width: 1100px) {

    .main-wrapper {
        display: flex;
        flex-direction: column;
        padding: 50px;
    }

    .intro {
        text-align: center;
    }

    .grid1 h1 {
        margin-bottom: 20px;
        font-size: 35px;
        width: 300px;
    }

    .grid1 p {
        margin-bottom: 40px;
        width: 350px;
    }

    .rating {
        padding-top: 15px;
        margin: 0;
        margin-bottom: 20px;
        width: 350px;
        height: 80px;
        text-align: center;
    }

    .rating p {
        margin-top: 10px;
    }

    .r-1, .r-2, .r-3 {
        display: block;
    }

    .grid3 {
        display: flex;
        flex-direction: column;
    }

    .u-1, .u-2, .u-3 {
        margin-bottom: 0;
    }

}